<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인 페이지</title>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/joinMember.css">
<script src="js/joinMember.js">
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>
<body>
	<div>
		<input type="button" value="메인으로" onclick="location.href='main'">
	</div>

    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/joinMember}" th:object="${memberJoinForm}" method="post">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" th:field="*{username}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="repassword" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{repassword}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">닉네임</label>
            <input type="text" th:field="*{nickname}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>

</body>
</html>